@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

body, input, textarea, button {
  font-family: Lato, sans-serif;
}

.transversion-summary {
  font-style: italic;
  text-align: center;
}

.transversion, .transversion .__mobiledoc-editor  {
  color: #195D88 !important;
}

.transversion-meta {
  margin-bottom: 20px;
}

.transversion-actions {
  margin-right: 3em;
  margin-left: 3em;
}

.transversion-edit-action {
  padding: 25px 0 25px 40px;
}

h3.editor-section-title {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px
}

.__mobiledoc-editor, .__rendered-mobiledoc {
  font-size: 1.9rem;
  line-height: 2.6rem;
  font-family: Lora, Georgia, serif;
}

.page, .facing-page {
  padding-top: 4px;
}

.page {
  border-right: 1px #bbb dotted;
}

.facing-page {
  /*background-color: #fafafa;*/
}

/* Transversion atom styles */
.definition-atom a,
.definition-atom a:link,
.definition-atom a:visited,
.definition-atom a:active,
.definition-atom a:hover {
  color: white;
}
.definition-atom a:active,
.definition-atom a:hover {
  text-decoration: none;
  color: purple;
}

.-mobiledoc-kit__atom div {
  display: inline-block;
}
