@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

body, input, textarea {
  font-family: Lato, sans-serif;
}

.transversion-summary {
  font-style: italic;
  text-align: center;
}

.transversion, .transversion .__mobiledoc-editor  {
  color: #A75F5F !important;
}

.transversion-meta {
  margin-bottom: 30px;
}

.__mobiledoc-editor {
  font-size: 1.9rem;
  line-height: 2.6rem;
}
