@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

body, input, textarea, button {
  font-family: Lato, sans-serif;
}

.transversion-summary {
  font-weight: bold;
  text-align: center;
}

.transversion, .transversion .__mobiledoc-editor  {
  color: #195D88 !important;
}

.__mobiledoc-card {
  width: 100%;
}

/* Any transversion content that's not in a transversion card should be centered. */
.transversion-page h2,
.transversion-page h3 {
  text-align: center;
}

.transversion-meta {
  margin-bottom: 20px;
}

.transversion-actions {
  margin-right: 3em;
  margin-left: 3em;
}

.transversion-edit-action {
  padding: 25px 0 25px 40px;
}

h3.editor-section-title {
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 3px
}

.__mobiledoc-editor, .__rendered-mobiledoc {
  font-size: 1.75rem;
  line-height: 2.6rem;
  font-family: Lora, Georgia, serif;
}

.page, .facing-page {
  padding-top: 4px;
}

.page {
  border-right: 1px #bbb dotted;
}

.facing-page {
  /*background-color: #fafafa;*/
}

/* Transversion atom styles */
.definition-atom a,
.definition-atom a:link,
.definition-atom a:visited,
.definition-atom a:active,
.definition-atom a:hover,
.note-atom a,
.note-atom a:link,
.note-atom a:visited,
.note-atom a:active,
.note-atom a:hover {
  color: white;
}
.definition-atom a:active,
.definition-atom a:hover,
.note-atom a:active,
.note-atom a:hover {
  text-decoration: none;
  color: purple;
}

.__rendered-mobiledoc-atom {
  margin-right: 5px;
}

.-mobiledoc-kit__atom div {
  display: inline-block;
}

.new-model-form {
  border: 1px #ccc solid;
  padding: 10px 12px;
  background-color: #666;
  color: white;
  display: inline-block;
  border-radius: 10px;
}
.new-model-form input {
  color: black;
}
.new-model-form .new-model-name {
  min-width: 25em;
}
