<h1>Documents</h1>

{{#each model as |work|}}
  <h3>{{work.name}} ({{work.author.name}})</h3>

  <ul class="nav nav-pills nav-stacked">
    {{#each work.sortedDocs as |doc|}}
    <li>
      {{#link-to "doc.show" doc}}
        {{doc.name}}
      {{/link-to}}
    </li>
    {{else}}
      <li class="text-warning">No content</li>
    {{/each}}
  </ul>
{{/each}}
