<h1>Glossary</h1>

{{#each sortedAuthors as |author|}}

  {{#if author.sortedNotes}}
    <h3>{{author.name}}</h3>

    <ul class="nav nav-pills nav-stacked">
      {{#each author.sortedTerms as |term|}}
        <li>{{link-to term.name "terms.show" term}}</li>
      {{/each}}
    </ul>
  {{/if}}

{{/each}}
