<h1>Works</h1>

{{#each authors as |author|}}
  <h3>{{author.name}}</h3>

  <ul class="nav nav-pills nav-stacked">
    {{#each author.sortedWorks as |work|}}
    <li>
      {{#link-to "works.show" work}}
        {{work.name}}
      {{/link-to}}
    </li>
    {{else}}
      <li class="text-warning">No works.</li>
    {{/each}}
  </ul>
{{/each}}

<hr>

{{#new-model type="work"
    defaults=(hash name="" author="none")
    action="newWork"
  as |setAttr modelAttrs|}}

  <div class="form-group">
    <label for="model-author">Author:</label>
    {{#x-select value=modelAttrs.author
      action=(action setAttr "author")
      name="model-author"
      classNames="form-control"
      as |xs|}}
      {{#each authors as |author|}}
        {{#xs.option value=author}}{{author.name}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  </div>

{{/new-model}}
