<h1>Works</h1>

{{#new-model type="work"
    defaults=(hash name="" author="none")
    action="newWork"
  as |setAttr modelAttrs|}}

  <div class="form-group">
    <label for="model-author">Author:</label>
    {{#x-select value=modelAttrs.author
      action=(action setAttr "author")
      name="model-author"
      classNames="form-control"
      as |xs|}}
      {{#each authors as |author|}}
        {{#xs.option value=author}}{{author.name}}{{/xs.option}}
      {{/each}}
    {{/x-select}}
  </div>

{{/new-model}}

<ul class="nav nav-pills nav-stacked">
  {{#each model as |work|}}
  <li>
    {{link-to work.name "works.show" work}}
  </li>
  {{/each}}
</ul>
