<h1>Authors</h1>

<ul class="nav nav-pills nav-stacked">
  {{#each model as |author|}}
  <li>
    {{link-to author.name "authors.show" author}}
  </li>
  {{/each}}
</ul>

<hr>
{{new-model type="author" defaults=(hash name="") action="newAuthor"}}
