<h1>Notes</h1>

<ul>
  {{#each model as |note|}}
    <li>{{link-to note.name "notes.show" note}}</li>
  {{else}}
  <div class="alert alert-warning">
    The glossary currently contains no terms.
  </div>
  {{/each}}
</ul>
