<h1>Notes</h1>

{{#each sortedAuthors as |author|}}

  {{#if author.sortedNotes}}
    <h3>{{author.name}}</h3>

    <ul class="nav nav-pills nav-stacked">
      {{#each author.sortedNotes as |note|}}
        <li>{{link-to note.name "notes.show" note}}</li>
      {{/each}}
    </ul>
  {{/if}}

{{/each}}
